<h1>All my tasks</h1>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <% if task.completed %>
      <input id="checkBox" type="checkbox" checked>
    <% else %>
      <input id="checkBox" type="checkbox">
    <% end %>
    <%= link_to task.title, task_path(task) %>
  </li>
  <% end %>
</ul>
<p>
  <%= link_to "+ Add a new task", new_path %>
</p>
